/.DS_Store
/Password
/PasswordR
/Test
/he.py
/lesson1.rb
/lesson10.rb
/lesson11.rb
/lesson12.rb
/lesson13.rb
/lesson2.rb
/lesson3.rb
/lesson4.rb
/lesson5.rb
/lesson6.rb
/lesson7.rb
/lesson8.rb
/lesson9.rb
/tempCodeRunnerFile.rb